@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.App {
  background-image: url("./dininghall.jpg");
  background-size: cover;
  height: 52rem;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  zoom: none;
  }
.calender {
  margin-left: 10%;
}
.image{
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    display: inline;
    z-index: 2;
    width: 100%;
}
.forheader {
  z-index: 1;
    border-top: 1px solid rgba(71, 42, 43, .15);
    display: inline-block;
    position: relative;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 8%;
    padding-top: 2%;
    padding-bottom: 10%;
    background-color: rgb(237, 237, 237);
    width: 60%;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    height: auto;
  
}

.vanish {
  display: none;
}

.food-menu-heading {
    
    display: block;
    text-align: center;
    letter-spacing: 0.5px;
    color: #735c51;;
    font-family:"Roboto";
    font: size 40px;;
    width: 100%;
    position:relative;
    margin-bottom: -1%;
}

.food_details {
   
    display: block;
    letter-spacing: 0.5px;
    color: #000000;;
    font-family:"Roboto";
    font-size:15px;
    width: auto;
    position:relative;
    margin-bottom: 3%;
    margin-left: 0%;
    padding-left: 40px;
    height: auto;
    
    

}

.outline {
  
  display: inline-flex;
  width: 100%;
 
 
  
}
.box {
  
  width: 100%;
  display: inline-block;
  position:relative;
  justify-content: center;
  font-family:monospace, monospace;
  font-size: 28px;
  color: #88746a;
  border:none;
  background-color: #813f3631;
  box-shadow: 0 3px #813f3631;
}

.content {
  margin-left: 0%;
  width: 100%;
  display: inline;
  position:relative;
  justify-content: center;
  font-family:monospace, monospace;
  font-size: 21px;
  color: #88746a;
  text-align: left;
}

.selected {
  width: 100%;
  display: inline-block;
  position:relative;
  justify-content: center;
  font-family:monospace, monospace;
  font-size: 29px;
  word-spacing: 50px;
  color: #a30134;
  border:none;
  
  box-shadow: 0 3px #a30134;
  background-color: #813f3631;

}

.serving {
  margin-left: 0%;
  display: flex;
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  color: rgba(19, 17, 14, 0.847);
  

}


@media (max-width: 62rem) {

  
  .App {
    background-image: url("./dininghall.jpg");
    background-size: cover;
    height: 60rem;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    zoom: none;
    }
  .forheader {
    z-index: 1;
    border-top: 1px solid rgba(71, 42, 43, .15);
    display: inline-block;
    position: relative;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 7%;
    padding-top: 2%;
    padding-bottom: 10%;
    background-color: rgb(237, 237, 237);
    width: 80%;
    
    
  }
  .food_details {
   
    display: block;
    text-align: center;
    letter-spacing: 0.5px;
    color: #735c51;;
    font-family:"Scala Sans", sans-serif;
    font-size:10px;
    width: 100%;
    position:relative;
    margin-bottom: 1%;
  }

  .outline {
  
    display: inline;
    width: 100%;
   
   
    
  }

  .box {
  
    width: 100%;
    display: inline;
    position:relative;
    justify-content: center;
    font-family:monospace, monospace;
    font-size: 28px;
    color: #88746a;
    border:none;
    box-shadow: none;
  }
  
  .content {
    margin-left: 0%;
    width: 100%;
    display: inline;
    position:relative;
    justify-content: center;
    font-family:monospace, monospace;
    font-size: 21px;
    color: #88746a;
    text-align: left;
  }
  
  .selected {
    width: 100%;
    display: inline;
    position:relative;
    justify-content: center;
    font-family:monospace, monospace;
    font-size: 29px;
    word-spacing: 50px;
    color: #a30134;
    border:none;
    border-top-right-radius: 5px;
    box-shadow: none;
    
  
  }
  
  .serving {
    margin-left: 0%;
    display: flex;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    color: rgba(19, 17, 14, 0.847);
    
  
  }
  
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  