.for-footer-1{
    display: flex;
    width: 100%;
    position: static;
    letter-spacing: 0.5px;
    background:#806C62;
    font-family: 'Scala Sans';
    color: rgb(255, 255, 255);
    justify-content: center;
    
    
}

.footer-text-1{

    margin-left: -5rem;
    margin-top: 8rem;
    font-family: 'Scala Sans';
    position:static;
}

.footer-heading-1 {
    margin-top: 0;
    line-height: 1.625rem;
    font-size: 20px;
    font-weight: 100;
    
}

.content-footer-1 {
    
    display: block;
    text-align: left;
    
    color: #ffffff;;
    font-family:'Scala Sans';
    font-size: 18px;
    
    font-weight: 600;
    margin-bottom: 2%;
   
    

}

.content-footer-2-1 {
    display:block;
    text-align: left;
    color: #ffffff;;
    font-family:'Scala Sans';
    font-size: 18px;
    width: 100%;
    font-weight: 00;
    position:relative;
    margin-bottom: 2%;
    
    
    


}

.for-mail-1 {
    display: block;
    position: relative;
    justify-content: center;
    border: none;
    margin-top: 10rem;
    margin-bottom: 9rem;
    line-height: 1.5;
    text-align: center;
    width: 50%;
    box-sizing: border-box;

}

.subscribe-1 {
    display:flex;
    background-color: #ffffff;
    color: #806C62;
    padding: 0.5rem 2.5rem;
    text-decoration: none;
    font-family: 'Scala Sans';
    font-size: 1rem;
    justify-content: center;
    text-align: center;
    transition: 0.3s;
    

}
.subscribe-1:hover {
    background-color: #4a3e38;
    color: #ffffff;
}
.copyright-1 {
    

    font-family: 'Scala Sans';
    text-align: center;
    background-color: #806C62;
    color:#ffffff;
    padding-bottom: 2rem;
}

.socials-1 {
    display: block;
    color:#ffffff;
    border: none;
    margin-top: 11rem;
    text-align: center;
    justify-content: center;
    
    
}

.icons-1 {
    padding: .5rem;
    
    color: #ffffff;
    
}



@media (max-width: 1200px) {
    .for-footer-1{
        display: block;
        width: 100%;
        position: static;
        letter-spacing: 0.5px;
        background:#806C62;
        font-family: 'Scala Sans';
        color: rgb(255, 255, 255);
        justify-content: center;
        
    }

    .footer-text-1{
        margin-left: -3rem;
        padding-top: 2rem;
        margin-top: 0;
        text-align: center;
    
        font-family: 'Scala Sans';
        position:static;
    }
    .content-footer-1{
        display: block;
        text-align: center;
        margin-bottom: 1%;
    }
    .content-footer-2-1{
        display: block;
        text-align: center;
        margin-bottom: 1%;
    }
    .for-mail-1{
        width: auto;
        margin-top: 2rem;
        margin-left: 0;
        justify-content: center;
        margin-bottom: 0rem;
    }
    .socials-1 {
        display: flex;
        justify-content: center;
        margin-left: 0%;
        margin-top: 2rem;
    }
    .icons-1 {
        padding-bottom: 2rem;
    }

}

@media (max-width:380px) {
    .footer-text-1{
        padding-top: 20rem;
    }
    
}

@font-face {
    font-family: 'Scala Sans';
    src: url('./ScalaSans.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }