.for-footer{
    display: block;
    position: relative;
    letter-spacing: 0.5px;
    background:rgb(71, 42, 43);;
   
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    width: 100%;
    border-top: 5px solid rgb(60, 54, 54);
    
    height: 30rem;
}

.footer-text{
    margin-left: 0%;
    margin-top: 20%;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}